
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top col-12">
        <a><img class="train" src="/images/train.png"></a>
        <a class="navbar-brand" href="/home">Ticketac</a>
        <a class="navbar-brand" href="/cart">PANIER</a>
        <a class="nav-link" href="/logout">Déconnexion</a>
        <a class="nav-link" href="">My Trips</a>
    </nav>

