<!DOCTYPE html>
<html>
  <head>
    <title>Sign</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='./stylesheets/style.css' />
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top col-12">
      <a><img class="train" src="/images/train.png"></a>
      <a class="navbar-brand" href="/home">Ticketac</a>
    </nav>


    <div class= container>
    
      <div class="row col-10-offset-1 justify-content-center text-center mt-5">

        <!-- SIGN IN AREA -->
        <div class="mx-3">
          <div class="formArea">
            <h4 class="titleForm">Connexion</h4>
            <form action="/signin" method="POST">
              <div class="form-group">
                <input name="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email">
              </div>
              <div class="form-group">
                <input name="password" type="password" class="form-control" placeholder="Mot de passe">
              </div>
              <button type="submit" class="btn btn-danger">Ça roule !</button>
            </form>
          </div>
        </div>

        <!-- SIGN UP AREA -->
        <div>
          <div class="formArea">
            <h4 class="titleForm">Inscription</h4>
            <form action="/signup" method="POST">
              <div class="form-group">
                <input name="lastname" type="text" class="form-control" placeholder="Nom">
              </div>
              <div class="form-group">
                <input name="firstname" type="text" class="form-control" placeholder="Prénom">
              </div>
              <div class="form-group">
                <input name="email" type="email" class="form-control" aria-describedby="email" placeholder="Email">
              </div>
              <div class="form-group">
                <input name="password" type="password" class="form-control"  placeholder="Mot de passe">
              </div>
              <button type="submit" class="btn btn-danger">Je m'inscris !</button>
            </form>
          </div>
        </div>

      <!-- ERROR MESSAGES AREA -->
      <% if (errMsg.signIn.length || errMsg.signUp.length) { %>
        <div class="row mt-4">
          <div class="alert alert-danger w-100 mt-3" role="alert">
            <% if (errMsg.signIn.length) { %>
              <%= errMsg.signIn %>
            <%} else { %>
              <%= errMsg.signUp %>
            <% } %>
      <% } %>

    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
