body {
margin: 0;
padding: 0;
height: 100vh;
box-sizing: border-box;
background: linear-gradient(to bottom, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);
background-repeat: no-repeat;
background-size: cover
}

a {
  color: #00B7FF;
}

.train {
  width: 4%;
}

.titleForm {
  color: white;
}