body {
margin: 0;
padding: 0;
height: 100vh;
width: 100vw;
box-sizing: border-box;
background: linear-gradient(to bottom, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);
background-repeat: no-repeat;
background-size: cover;
font-family: 'Work Sans', sans-serif;
}

.navbar {
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
}

.navbar-brand {
  font-weight: bold;
  font-size:xx-large;
}

#pictotitle {
  align-items: center;
}

a {
  color: #00B7FF;
}

.train {
  width: 55%;
}

img {
  width: 20%;
}